* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Poppins;
  src: url("../media/font/Poppins-Medium.eot");
  src: url("../media/font/Poppins-Medium.ttf");
  src: url("../media/font/Poppins-Medium.woff");
  src: url("../media/font/Poppins-Medium.woff2");
  src: url("../media/font/Poppins-SemiBold.eot");
  src: url("../media/font/Poppins-SemiBold.ttf");
  src: url("../media/font/Poppins-SemiBold.woff");
  src: url("../media/font/Poppins-SemiBold.woff2");
}
.wrapper {
  width: 100%;
}
