* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Poppins;
  src: url("../media/font/Poppins-Medium.eot");
  src: url("../media/font/Poppins-Medium.ttf");
  src: url("../media/font/Poppins-Medium.woff");
  src: url("../media/font/Poppins-Medium.woff2");
  src: url("../media/font/Poppins-SemiBold.eot");
  src: url("../media/font/Poppins-SemiBold.ttf");
  src: url("../media/font/Poppins-SemiBold.woff");
  src: url("../media/font/Poppins-SemiBold.woff2");
}
.wrapper {
  width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #1c1e53;
  border: 1px solid lightgray;
  border-radius: 50px 0 50px 0;
}
