.features {
  width: 100%;
  height: 1191px;
  flex-shrink: 0;
  background-color: #f4f6fc;
  display: flex;
  flex-flow: column wrap;
  .f-wrapper {
    width: 1600px;
    height: inherit;
    .feature {
      text-align: center;
      margin-top: 128px !important;
      margin: 0 auto;
      width: 419px;
      height: 28px;
      color: #282938;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 175% */
    }
    .f-note {
      width: 630px;
      height: 192px;
      color: #282938;
      text-align: center;
      /* Heading 2 */
      font-family: Poppins;
      margin-top: 12px !important;
      font-size: 32px;
      margin: 0 auto;
      font-style: normal;
      font-weight: 400;
      line-height: 64px; /* 133.333% */
    }
    .f-grid {
      display: grid;
      justify-content: center;
      align-content: baseline;
      align-items: center;
      margin: 0 auto;
      margin-top: 47px !important;
      grid-template-rows: auto auto;
      grid-template-columns: 406px 406px 406px;
      column-gap: 32px;
      row-gap: 24px;
      width: 1280px;
      div {
        width: 406px;
        height: 316px;
        background-color: #ffffff;
        padding: 48px 33px 48px 48px;
        img {
          object-fit: cover;
          margin-bottom: 22px;
        }
        h6 {
          width: 314.748px;
          color: #282938;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 36px; /* 150% */
          margin-bottom: 12px;
        }
        p {
          width: 324.653px;
          color: #282938;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: lighter;
          line-height: 28px; /* 175% */
          opacity: 0.7;
        }
      }
    }
  }
}
