.pricing {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.pricing .pricingtitle {
  text-align: center;
  color: #282938;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
  width: 100%;
  height: auto;
  margin-top: 64px;
}
.pricing .pricingnote {
  width: 80%;
  margin: 0 auto;
  color: #282938;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  opacity: 0.7;
  margin-top: 16px !important;
  margin-bottom: 30px !important;
}
.pricing .plans {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(1, auto);
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 64px;
  justify-content: center;
}
.pricing .plans .plan {
  margin-bottom: 30px;
  padding-right: 20px;
}
.pricing .plans .plan:nth-of-type(1) {
  width: 100%;
  height: 745px;
  border-radius: 12px;
  background: #f4f6fc;
}
.pricing .plans .plan:nth-of-type(1) h3 {
  width: auto;
  height: 56px;
  color: #282938;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
  margin-top: 64px;
  margin-left: 48px;
}
.pricing .plans .plan:nth-of-type(1) h3 span {
  color: #2405f2;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-left: 8px;
  vertical-align: middle;
}
.pricing .plans .plan:nth-of-type(1) h6 {
  width: auto;
  height: 38px;
  color: #282938;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  margin-top: 20px;
  margin-left: 48px;
}
.pricing .plans .plan:nth-of-type(1) .plannote {
  width: 281px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  opacity: 0.7;
  margin-top: 8px;
  margin-left: 48px;
  margin-bottom: 78px;
}
.pricing .plans .plan:nth-of-type(1) p {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-left: 48px;
  margin-top: 20px;
}
.pricing .plans .plan:nth-of-type(1) p span svg {
  width: 26px;
  height: 18px;
  fill: #97daad;
  stroke-width: 3px;
  stroke: #fff;
  vertical-align: middle;
  margin-right: 4px;
}
.pricing .plans .plan:nth-of-type(1) .planbtn {
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: #282938;
  margin-top: 79px !important;
  margin: 0 auto;
}
.pricing .plans .plan:nth-of-type(1) .planbtn a {
  text-decoration: none;
  color: #f4f6fc;
  font-family: poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}
.pricing .plans .plan:nth-of-type(3) {
  width: 100%;
  height: 745px;
  border-radius: 12px;
  background: #f4f6fc;
}
.pricing .plans .plan:nth-of-type(3) h3 {
  width: auto;
  height: 56px;
  color: #282938;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
  margin-top: 64px;
  margin-left: 48px;
}
.pricing .plans .plan:nth-of-type(3) h3 span {
  color: #2405f2;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-left: 8px;
  vertical-align: middle;
}
.pricing .plans .plan:nth-of-type(3) h6 {
  width: auto;
  height: 38px;
  color: #282938;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  margin-top: 20px;
  margin-left: 48px;
}
.pricing .plans .plan:nth-of-type(3) .plannote {
  width: 281px;
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  opacity: 0.7;
  margin-top: 8px;
  margin-left: 48px;
  margin-bottom: 44px;
}
.pricing .plans .plan:nth-of-type(3) p {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-left: 48px;
  margin-top: 20px;
}
.pricing .plans .plan:nth-of-type(3) p span svg {
  width: 26px;
  height: 18px;
  fill: #97daad;
  stroke-width: 3px;
  stroke: #fff;
  vertical-align: middle;
  margin-right: 4px;
}
.pricing .plans .plan:nth-of-type(3) .planbtn {
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: #282938;
  margin-top: 65px !important;
  margin: 0 auto;
}
.pricing .plans .plan:nth-of-type(3) .planbtn a {
  text-decoration: none;
  color: #f4f6fc;
  font-family: poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}
.pricing .plans .plan:nth-of-type(2) {
  width: 100%;
  height: 745px;
  border-radius: 12px;
  background: #1c1e53;
  background-image: url("../../../media/image/Mask.png");
}
.pricing .plans .plan:nth-of-type(2) h3 {
  width: auto;
  height: 56px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
  margin-top: 64px;
  margin-left: 48px;
}
.pricing .plans .plan:nth-of-type(2) h3 span {
  color: #fcd980;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-left: 8px;
  vertical-align: middle;
}
.pricing .plans .plan:nth-of-type(2) h6 {
  width: 180px;
  height: 38px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  margin-top: 20px;
  margin-left: 48px;
}
.pricing .plans .plan:nth-of-type(2) .plannote {
  width: 281px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  opacity: 0.7;
  margin-top: 8px;
  margin-left: 48px;
  margin-bottom: 50px;
}
.pricing .plans .plan:nth-of-type(2) p {
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-left: 48px;
  margin-top: 20px;
}
.pricing .plans .plan:nth-of-type(2) p span svg {
  width: 26px;
  height: 18px;
  fill: #97daad;
  stroke-width: 3px;
  stroke: #fff;
  vertical-align: middle;
  margin-right: 4px;
}
.pricing .plans .plan:nth-of-type(2) .planbtn {
  display: flex;
  width: 254px;
  height: 64px;
  padding: 15px 51px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 41px;
  background: #fcd980;
  margin: 0 auto;
  margin-top: 79px !important;
}
.pricing .plans .plan:nth-of-type(2) .planbtn a {
  text-decoration: none;
  color: #282938;
  font-family: poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
}
.pricing .faq {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column wrap;
  gap: 1px;
  overflow: hidden;
  margin-top: 30px;
}
.pricing .faq .faqleft {
  width: 100%;
  height: auto;
  text-align: center;
}
.pricing .faq .faqleft h3 {
  width: 100%;
  color: #282938;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 147.368% */
  margin-bottom: 16px;
}
.pricing .faq .faqleft p {
  color: #2405f2;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
  opacity: 0.87;
}
.pricing .faq .faqright {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-top: 4px;
}
.pricing .faq .faqright .question-o {
  height: auto;
  border-bottom: 2px solid #ececf1;
}
.pricing .faq .faqright .question-o h6 {
  color: #2405f2;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  display: inline-block;
  vertical-align: top;
  margin-left: 27px;
}
.pricing .faq .faqright .question-o .questionmid {
  display: inline-block;
  width: 100%;
}
.pricing .faq .faqright .question-o .questionmid h6 {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.pricing .faq .faqright .question-o .questionmid p {
  color: #282938;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.87;
  margin-left: 27px;
  margin-bottom: 16px;
}
.pricing .faq .faqright .question-o img {
  margin-top: 10px;
  display: none;
  vertical-align: top;
  cursor: pointer;
  fill: #282938;
  opacity: 0.7;
}
.pricing .faq .faqright .question {
  border-bottom: 2px solid #ececf1;
  height: auto;
}
.pricing .faq .faqright .question h6 {
  color: #2405f2;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  margin-left: 27px;
}
.pricing .faq .faqright .question .questionmid {
  display: inline-block;
  width: 100%;
}
.pricing .faq .faqright .question .questionmid h6 {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.pricing .faq .faqright .question img {
  margin-top: 42px;
  display: none;
  vertical-align: top;
  cursor: pointer;
  fill: #282938;
  opacity: 0.7;
}

.grayfilter {
  filter: grayscale(100%) !important;
  opacity: 0.7 !important;
}/*# sourceMappingURL=pricing.css.map */