.projects {
  width: 100%;
  padding: 128px 160px;
  background-color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  .top {
    width: 1280px;
    height: 64px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: #282938;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px; /* 133.333% */
    }
    a {
      text-decoration: none;
      color: #282938;
      span:nth-of-type(1) {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */
        text-transform: capitalize;
      }
      span:nth-of-type(2) {
        margin-left: 16px;
      }
    }
  }
  .bottom {
    width: 1280px;
    margin-top: 64px;
    display: grid;
    grid-template-columns: 843px 405px;
    grid-template-rows: repeat(1, 600px);
    column-gap: 32px;
    justify-content: center;
    overflow: hidden;
    .project1 {
      background-color: blueviolet;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
      }
      .cover {
        width: 396px;
        height: 100%;
        background: linear-gradient(
          329deg,
          #1c1e53 -10.96%,
          rgba(28, 30, 83, 0.42) 103.96%
        );
        position: absolute;
        top: 0;
        padding: 50px;
        left: -396px;
        transition: 300ms;
        h5 {
          color: #ffffff;
          font-family: Poppins;
          font-size: 22px;
          font-style: normal;
          line-height: 36px; /* 150% */
          margin-top: 260px; /*312px on figma*/
          margin-bottom: 16px;
        }
        p {
          color: #ffffff;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px; /* 175% */
          opacity: 0.8;
          margin-bottom: 40px;
        }
        a {
          text-decoration: none;
          color: #fcd980;
          span:nth-of-type(1) {
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px; /* 175% */
          }
          span:nth-of-type(2) {
            vertical-align: middle;
            margin-left: 16px;
          }
        }
      }
      &:hover {
        .cover {
          left: 0;
        }
      }
    }
    .project2 {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, 284px);
      row-gap: 32px;
      .project2top {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .cover {
          width: 100%;
          height: 100%;
          background: linear-gradient(
            329deg,
            #1c1e53 -10.96%,
            rgba(28, 30, 83, 0.42) 103.96%
          );
          position: absolute;
          padding: 56px;
          top: -100%;
          left: 0;
          transition: 300ms;
          h5 {
            color: #ffffff;
            width: 250px;
            font-family: Poppins;
            font-size: 22px;
            font-style: normal;
            line-height: 36px; /* 150% */
            margin-top: 68px; /*312px on figma*/
            margin-bottom: 16px;
          }
          a {
            text-decoration: none;
            color: #fcd980;
            span:nth-of-type(1) {
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px; /* 175% */
            }
            span:nth-of-type(2) {
              vertical-align: middle;
              margin-left: 16px;
            }
          }
        }
        &:hover {
          .cover {
            top: 0;
          }
        }
        .project2bottom {
          background-color: #fcd980;
        }
      }
    }
  }
}
